extends layout

block content

  p While they look like images, these are actually fonts.  That means you can, for instance, easily change their color and size.</p>

  br

  button#color Color
  button#size Size

  br
  br
  br
  br

  i.icon-less
  i.icon-more
  br
  i.icon-next
  i.icon-previous


